<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Delete Donor</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <!-- navigation -->
  <%- include("partials/navbar") %>
    <h2 class="centert">Delete <%= donor.email %>?</h2>

    <div class="outside">
      <div class="inside">
        <div class="card bg-light">
          <div class="card-body">
            <form action="/delete/<%= donor.id %>" method="POST">
              <button type="submit" class="btn btn-danger">Delete</button>
              <a href="/users" class="btn btn-info">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>

</body>

</html>