<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Users</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <%- include("partials/navbar") %>

  <!-- Data rendering -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-5 offset-md-3 card bg-light">
        <div class="card-body">
          <% if(info.status == "owner") { %>
          <form action="/updateorganization/<%= organization.id %>" method="POST">
            <input type="text" name="name" value="<%= organization.name%>" placeholder="Organization Name" class="form-control mb-3" />
            <input type="text" name="governmentId" value="<%= organization.governmentId %>" placeholder="Government ID" class="form-control mb-3" />
            <button type="submit" class="btn btn-danger">Save Organization</button>
            <a href="/susers" class="btn btn-info">Cancel</a>
          </form>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</body>

</html>