<nav class="navbar navbar-light bg-light">
  <div class="container">
    <% if(info.status == "suser") { %>
    <a class="navbar-brand"><%= info.username + "  |  " + info.organizationName %></a>
    <a class="" href="/">Schedule</a>
    <a class="" href="/createdonation">Create Donation</a>
    <a class="" href="/lusers">Management</a>
    <a class="" href="/statistics">Audit Statistics</a>
    <a class="" href="/logout">Logout</a>
    <% } %>
    <% if(info.status == "luser") { %>
    <a class="navbar-brand"><%= info.organizationName  %></a>
    <a class="" href="/">Schedule</a>
    <a class="" href="/createdonation">Create Donation</a>
    <a class="" href="/logout">Logout</a>
    <% } %>
    <% if(info.status == "owner") { %>
    <a class="" href="/susers">Management</a>
    <a class="" href="/logout">Logout</a>
    <% } %>
  </div>
</nav>