<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="" href="/">Home</a>
    <a class="" href="/sched">Schedule</a>
    <a class="" href="/edit">Donors</a>
    <a class="" href="/users">Management</a>
    <a class="" href="/logout">Logout</a>
  </div>
</nav>