<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="" href="/">Home</a>
    <a class="" href="/createdonation">Create Donation</a>
    <a class="" href="/donations">Donations</a>
    <a class="" href="/donors">Donors</a>
    <% if(info.isAdmin == true) { %>
    <a class="" href="/users">Management</a>
    <% } %>
    <a class="" href="/logout">Logout</a>
  </div>
</nav>